body {
    background: #181818!important;
}

.rymovie-form-container {
    max-width: 480px;
    margin: 40px auto;
    padding: 20px;
    color: #fff;
}

.rymovie-form-group input {
    background-color: #181818;
    color: #fff;
}

.rymovie-form-group input:focus {
    background-color: #181818;
    color: #fff;
}

.rymovie-form-group select {
    background-color: #181818;
    color: #fff;
}

.rymovie-form-group select:focus {
    background-color: #181818;
    color: #fff;
}

.rymovie-form {
    width: calc(100% - 20px);
}

.rymovie-form-group {
    margin-bottom: 20px;
}

.rymovie-form-group label {
    font-size: 12px;
    color: #fff;
}

.rymovie-form-btn-container {
    display: flex;
    justify-content: center;
}

.rymovie-movie-card-image {
    width: 100%;
    height: 430px;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.rymovie-parent {
    position: relative;
    top: 0;
    left: 0;
}

.rymovie-movie-card-image-form {
    width: 100%;
    height: 535px;
    position: absolute;
    top: -50px;
    left: 0px;
    border-radius: 8px 8px 0 0;
}

@media (min-device-width: 380px) and (max-device-width: 430px) {
    .rymovie-movie-card-image {
    height: 550px;
}

.rymovie-movie-card-image-form {
    display: none;
}
}

@media (min-device-width: 431px) and (max-device-width: 450px) {
    .rymovie-movie-card-image {
    height: 615px;
}
.rymovie-movie-card-image-form {
    display: none;
}
}

@media (min-device-width: 451px) and (max-device-width: 500px) {
    .rymovie-movie-card-image {
    height: 675px;
}
.rymovie-movie-card-image-form {
    display: none;
}
}

@media (min-device-width: 501px) and (max-device-width: 576px) {
    .rymovie-movie-card-image {
    height: 750px;
}
.rymovie-movie-card-image-form {
    display: none;
}
}

@media (min-device-width: 577px) and (max-device-width: 700px) {
    .rymovie-movie-card-image {
    height: 425px;
}
.rymovie-movie-card-image-form {
    height: 530px;
}
}

@media (min-device-width: 701px) and (max-device-width: 900px) {
    .rymovie-movie-card-image {
    height: 395px;
}
.rymovie-movie-card-image-form {
    height: 500px;
}
}

.rymovie-card-bottom-container {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 0 0 8px 8px;
}

.rymovie-card-bottom-container h3 {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    min-height: 40px;
}

.rymovie-btn {
    background-color: var(--color-primary);
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}